python-dotenv
tenacity==8.2.3
ipykernel
matplotlib
plotly
scikit-learn
pymongo==3.11.3
dnspython
openai
azure-cosmos
streamlit
langchain
langchain-community
pymongo
tiktoken
langchain_openai==0.0.2
azure-search-documents==11.4.0
azure-identity
